<h1 class="display-4">Pousadas</h1>

<% if @inns.any? %>
  <div id="choose_city">
    <% if @cities.present? %>
      <% @cities.each do |city| %>
        <%= link_to city, by_city_path(city) %>
      <% end %>
    <% end %>
  </div>
  <div class="list-group">
    <div id="recent_inns">
      <h2>Pousadas Recentes</h2>
      <%= render partial: 'shared/inns', locals: { inns: @recent_inns } %>
    </div>
    <hr>
    <div id="rest_of_the_inns">
      <%= render partial: 'shared/inns', locals: { inns: @rest_of_the_inns } %>
    </div>
  </div>
<% else %>
  <p class="alert alert-info">Não existem pousadas cadastradas</p>
<% end %>
