<section id="advanced_search_form">
  <h2>Busca Avançada</h2>
  <%= render 'form' %>
</section>

<div class="list-group">
  <% if @inns.present? %>
    <%= render partial: 'shared/inns', locals: { inns: @inns } %>
  <% else %>
    <p>Nenhuma pousada encontrada<p>
  <% end %>
</div>
