<h1>Avaliações</h1>

<% if @ratings.present? %>
  <% @ratings.each do |rating| %>
    <%= link_to show_admin_rating_path(rating.id) do %>
      <%= render partial: 'rating', locals: {rating: rating} %>
    <% end %>
  <% end %>
<% else %>
  <p>Ainda não há avaliações</p>
<% end %>
